@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.header {
    padding: 20px;
    background-color: #3936E6;
    color: #ffffff;
    position: sticky;
    top: 0
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #6CFEB8;
}

.header div {
    padding-top: 22px;
    margin-right: 20px;
    float: right;
    font-size: 16px;
    font-weight: 500;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header a:hover {
    color:#6CFEB8;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px 20px;
    padding: 3%;
    clear: both;
    float: right;
    width: 25%;
    background-color: #8F8EDA; 
    text-align: center;
}

.benefit-lead {
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    color: #000;
    text-align: center;
}

.benefit-brand h3 {
    color: #000;
    text-align: center;
}

.benefit-cost h3 {
    color: #000;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

hr {
    color: #fff;
    width: 5%;
    margin: 30px 0;
}

.search-engine-optimization {
    padding: 50px;
    height: 400px;
    color: #000;
}

.online-reputation-management {
    padding: 50px;
    height: 400px;
    color: #000;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    color: #000;
}

.anchor {
    scroll-margin-top: 100px;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-engine-optimization img {
    max-height: 300px;
}

.online-reputation-management img {
    max-height: 300px;
}

.social-media-marketing img {
    max-height: 300px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.two-column-grid {
    display: flex;
}

.contact {
    background-color:#3936E6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center
}
.contact h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

input, textarea {
    display: block;
    width: 600px;
    max-width: 600px;
    min-height: 40px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 8px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #eee;
}
input, select, textarea {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

input[type=submit] {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px; 
    margin-bottom: 8px;
    height: 50px;
    background-color:#FEC600;
}
      
#submit:hover {
    background-color: #FEC600;
    box-shadow: 10px 5px 15px #888888;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}